{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>設定</title>
    <link rel="stylesheet" href="{% static 'baito/setting.css' %}">
</head>
<body>

<div class="card">
    <div class="icon">アイコン</div>
    <input type="text" placeholder="ユーザー名">
    <input type="password" placeholder="パスワード">
    <button onclick="location.href='{% url 'baito:top' %}'">決定</button>
</div>

</body>
</html>
