{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>シフト</title>
    <link rel="stylesheet" href="{% static 'baito/sift.css' %}">
</head>
<body>

<div class="card">
    <input type="date" placeholder="日付">
    <input type="text" placeholder="勤務時間">
    <input type="text" placeholder="勤務先">
    <input type="text" placeholder="給料見込み">
    <button onclick="location.href='{% url 'baito:top' %}'">決定</button>
</div>

<a href="{% url 'baito:top' %}" class="fab left">戻る</a>
<div class="fab right">カメラ</div>

</body>
</html>
