{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>シフト</title>
    <link rel="stylesheet" href="{% static 'baito/sift.css' %}">
</head>
<body>

<div class="card">
    <form method="post">
        {% csrf_token %}
    
        <label>
            日付：
            <input type="date" name="date" value="{{ shift.date|date:'Y-m-d' }}" required>
        </label>
    
        <label>
            開始：
            <input type="time" name="start" value="{{ shift.start_time|time:'H:i' }}" required>
        </label>
    
        <label>
            終了：
            <input type="time" name="end" value="{{ shift.end_time|time:'H:i' }}" required>
        </label>
    
        <label>
            時給：
            <input type="number" name="hourly_wage" value="{{ shift.hourly_wage|default:1000 }}" required>
        </label>
    
        <button type="submit">保存</button>
    </form>    
</div>

<a href="{% url 'baito:top' %}" class="fab left">戻る</a>
<div class="fab right">カメラ</div>

</body>
</html>
