{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>新規登録</title>
    <link rel="stylesheet" href="{% static 'baito/signup.css' %}">
</head>
<body>

<div class="card">
    <h2>新規登録</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="ユーザー名" required>
        <input type="password" name="password" placeholder="パスワード" required>
        <input type="password" name="password2" placeholder="パスワード再確認" required>

        <button type="submit">登録</button>
    </form>
</div>

</body>
</html>
