{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>トップ</title>
    <link rel="stylesheet" href="{% static 'baito/base.css' %}">

    <link rel="stylesheet" href="{% static 'baito/top.css' %}">
</head>
<body>

<header class="header">
    <div class="header-left">日付</div>
    <div class="header-right">共有・転送</div>
</header>

<main class="main">
    <section class="calendar">
        <div class="calendar-header">
            <button id="prevMonth">＜</button>
            <span id="monthLabel"></span>
            <button id="nextMonth">＞</button>
        </div>

        <div class="calendar-grid" id="calendarGrid"></div>
    </section>

    <section class="shift-list">
        <h3 id="shiftTitle">日付を選択してください</h3>
        <ul id="shiftItems"></ul>
    </section>
</main>

<script src="{% static 'baito/calendar.js' %}"></script>

    
    <!-- <section class="shift-list">シフト一覧</section>
</main> -->

<footer class="footer">
    <!-- フッターメニュー -->
    <nav class="footer-menu">
        <!-- <a href="{% url 'baito:sift' %}" class="footer-menu-item">シフト追加</a> -->
        <!-- <a href="{% url 'baito:setting' %}" class="footer-menu-item active">設定</a> -->
        <!-- <a href="{% url 'baito:login' %}" class="footer-menu-item active">ログアウト</a> -->
        <a href="{% url 'baito:sift' %}" class="footer-menu-item active">
            <span class="icon">＋</span>
            <span>追加</span>
        </a>
        <a href="{% url 'baito:setting' %}" class="footer-menu-item active">
            <span class="icon">⚙️</span>
            <span>設定</span>
        </a>
        <a href="{% url 'baito:login' %}" class="footer-menu-item active">
            <span class="icon">🔒</span>
            <span>ログアウト</span>
        </a>
        <!-- <a href="#">ログアウト</a> -->
    </nav>
</footer>

</body>
</html> 
